@charset "UTF-8";
@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa-XBold.eot");
  src: local("☺"), url("../fonts/Nexa-XBold.woff") format("woff"), url("../fonts/Nexa-XBold.ttf") format("truetype"), url("../fonts/Nexa-XBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaRegular.eot");
  src: local("☺"), url("../fonts/NexaRegular.woff") format("woff"), url("../fonts/NexaRegular.ttf") format("truetype"), url("../fonts/NexaRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaHeavy.eot");
  src: local("☺"), url("../fonts/NexaHeavy.woff") format("woff"), url("../fonts/NexaHeavy.ttf") format("truetype"), url("../fonts/NexaHeavy.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* Breakpoints */
/* Шрифт */
/* Цвета */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Nexa", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

.container {
  max-width: 1468px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.wrapper--gray {
  background-color: #fcfcff;
}

.logo {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  font-family: Gilroy;
  letter-spacing: -3.2px;
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 27px 73px;
  font-size: 18px;
  font-weight: 700;
  color: #171718;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}
.button--green {
  background-color: #00dadc;
}
.button--green:hover {
  background-color: #00c6c8;
}
.button--white {
  padding: 21px 42px;
  font-size: 17px;
  color: #6426dd;
  background-color: #ffffff;
}
.button--white:hover {
  background-color: #e6e6e6;
}
.button--orange {
  background-color: #ffc727;
}
.button--orange:hover {
  background-color: #f3b400;
}

.section-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -3.19px;
  color: #25234d;
}
.section-title__top {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #6422db;
}

.section-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(37, 35, 77, 0.81);
}

.social {
  display: flex;
  align-items: center;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: rgba(83, 211, 255, 0.2);
  border-radius: 50%;
  transition: background-color 0.2s linear;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item:hover {
  background-color: #00dadc;
}
.social__item img {
  max-width: 100%;
}

.form {
  position: relative;
  z-index: 999;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 30px 70px rgba(223, 227, 234, 0.5);
}
.form::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -80px;
  width: 140px;
  height: 140px;
  background-image: url("../img/form-oval.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form__group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
.form__group label {
  position: absolute;
  top: -15px;
  left: 30px;
  display: block;
  padding: 3px;
  font-size: 19px;
  font-weight: 400;
  color: rgba(110, 110, 110, 0.5);
  background-color: #ffffff;
}
.form__group:nth-child(3) {
  margin-bottom: 45px;
}
.form__control {
  width: 100%;
  padding: 25px 35px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6422db;
  border-radius: 5px;
  border: 1px solid rgba(106, 105, 127, 0.3);
  transition: border-color 0.2s linear;
  resize: none;
}
.form__control:focus {
  border-color: rgba(106, 105, 127, 0.7);
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  color: #ffffff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 100px;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.menu__list li:not(:last-child) {
  margin-right: 34px;
}
.menu__link {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}

.hero {
  padding: 300px 0;
  color: #ffffff;
  background: #ffffff url("../img/hero-bg.png") center bottom/cover no-repeat;
}
.hero__title {
  max-width: 603px;
  margin-bottom: 30px;
  font-size: 88px;
  font-weight: 700;
  letter-spacing: -3.2px;
  line-height: 79px;
}
.hero__subtitle {
  max-width: 582px;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}

.about {
  position: relative;
  padding-top: 109px;
  padding-bottom: 22px;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  right: -180px;
  width: 500px;
  height: 500px;
  background-image: url("../img/about-oval.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about__inner {
  display: flex;
}
.about__img {
  flex-basis: 50%;
  margin-left: -107px;
  margin-right: 107px;
  padding-right: 5%;
}
.about__img img {
  max-width: 100%;
}
.about__content {
  flex-basis: 50%;
  padding-top: 115px;
  padding-bottom: 236px;
  padding-left: 46px;
}

.services__title,
.about__title,
.contact__title {
  max-width: 543px;
  margin-bottom: 40px;
}

.services__text,
.about__text,
.contact__text {
  max-width: 543px;
  margin-bottom: 40px;
}

.services {
  padding: 235px 0 127px;
  background: #ffffff url("../img/services-bg.png") top right/100% auto no-repeat;
}
.services__inner {
  display: flex;
  align-items: center;
}
.services__left {
  flex-basis: 50%;
}
.services__right {
  flex-basis: 50%;
  padding: 0 35px;
}
.services__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.services__card:nth-child(2n) {
  margin-top: -120px;
  margin-bottom: 120px;
}

.card {
  padding: 55px 30px;
  background-color: #ffffff;
  box-shadow: 0 30px 70px rgba(223, 227, 234, 0.5);
  border-radius: 5px;
}
.card__image {
  max-width: 88px;
  margin-bottom: 35px;
}
.card__image img {
  max-width: 100%;
}
.card__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  color: rgba(37, 35, 77, 0.79);
}
.card__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(37, 35, 77, 0.81);
}

.testimonials {
  position: relative;
  padding-top: 170px;
  padding-bottom: 300px;
  text-align: center;
  background: url("../img/testimonials-bg.png") center bottom/cover no-repeat;
}
.testimonials__title {
  margin-bottom: 84px;
  color: #ffffff;
}
.testimonials__title span {
  color: #ffffff;
}
.testimonials::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -60px;
  width: 140px;
  height: 140px;
  background-image: url("../img/testimonials-oval.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  position: relative;
}
.slider__inner {
  max-width: 730px;
  margin: 0 auto;
}
.slider__item-wrapper {
  position: relative;
}
.slider__item-wrapper::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 2;
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 30px 70px rgba(103, 48, 226, 0.5);
  border-radius: 20px;
  opacity: 0.2;
  transform: translateX(-50%);
}
.slider__item-wrapper::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
  background-color: #9a76ec;
  box-shadow: 0 30px 70px rgba(103, 48, 226, 0.5);
  border-radius: 20px;
}
.slider__item {
  position: relative;
  z-index: 4;
  max-width: 730px;
  margin: 0 auto;
  padding: 70px 80px 105px;
  background-color: #ffffff;
  box-shadow: 0 30px 70px rgba(103, 48, 226, 0.5);
  border-radius: 20px;
}
.slider__text {
  position: relative;
  z-index: 3;
  margin-bottom: 45px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #6a697f;
}
.slider__name {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: #6427de;
}
.slider__rating {
  display: flex;
  justify-content: center;
  font-size: 21px;
  color: #ffcc00;
}
.slider__rating i:not(:last-child) {
  margin-right: 8px;
}
.slider__control {
  position: absolute;
  z-index: 5;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.slider__btn {
  /* Style for "Ellipse 4" */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 26px;
  color: #6a697f;
  border: 2px solid #6a697f;
  transition: all 0.2s ease;
  line-height: 26px;
  text-align: center;
}
.slider__btn:not(:last-child) {
  margin-right: 20px;
}
.slider__btn:hover {
  color: #ffffff;
  background-color: #00dadc;
  border-color: #00dadc;
}
.slider__qoute {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  font-size: 167px;
  color: #edf0fd;
  transform: translateX(-50%);
}

.contact {
  padding: 90px 0 120px;
}
.contact__inner {
  display: flex;
  align-items: center;
}
.contact__content {
  flex-basis: 50%;
  padding-left: 40px;
}
.contact__feedback {
  flex-basis: 50%;
  padding-right: 30px;
  padding-left: 30px;
}
.contact__form {
  padding: 100px 40px;
}

.footer {
  padding-top: 200px;
  padding-bottom: 60px;
  color: #ffffff;
  background: url("	../img/footer-bg.png") top center/cover no-repeat;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.footer__copy {
  text-align: center;
}